<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 offset-sm-3 text-center">
          <address>{{ site.address }}</address>
      </div>
      <div class="col-sm-3 text-center">
        <em class="small">
          We are a 501(c)(3) nonprofit clinic.
        </em>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <span class="small">COPYRIGHT &copy; {{ 'today' | date: '%Y' }} Knights Landing One Health Clinic</span>
      </div>
    </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
