{% include header.html %}

  <div class="container">
    <div class="jumbotron text-center p-5">
      <h1>{{ page.title }}</h1>
    </div>
    <div class="row">
      <div class="col-12">
        {{ content }}
      </div>
      <div class="jumbotron text-center p-5">
        <h1>Up Coming Info Sessions</h1>
        <ul>
          {% for session in page.info-sessions %}
            <li>
              {{ session }}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

{% include footer.html %}
